<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form </title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="Images/SHUBHAM LOGO.PNG"/>
</head>

<body>
    <%- include('common/navbar') %>
    <br>
    <br>
    <center>
    <h1 style="font-family: stylish; font-size: 40px;">Congrats ! You Registered Succesfully </h1>
    <br>
    <h3 style="font-family: stylish; font-size: 30px;"> <a href="/login"> Click Here To Login </a></h3>
    </center>
    <%- include('common/footer') %>
</body>

</html>